html {
    height:100%;
}
body{
background: #a7cfdf; /* Old browsers */
background: -moz-linear-gradient(top,  #a7cfdf 0%, #23538a 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a7cfdf), color-stop(100%,#23538a)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #a7cfdf 0%,#23538a 100%); /* IE10+ */
background: linear-gradient(to bottom,  #a7cfdf 0%,#23538a 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 ); /* IE6-9 */
}
.dashboard{
 bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 1200px;
    height: 600px;
font-size:15pt;
background-color: white;
border: 1px #c1cdd4 solid;
padding: 0px;
}
#top{
    background: #3c383d; /* Old browsers */
background: -moz-linear-gradient(top,  #3c383d 0%, #3a3948 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#3c383d), color-stop(100%,#3a3948)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #3c383d 0%,#3a3948 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #3c383d 0%,#3a3948 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #3c383d 0%,#3a3948 100%); /* IE10+ */
background: linear-gradient(to bottom,  #3c383d 0%,#3a3948 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c383d', endColorstr='#3a3948',GradientType=0 ); /* IE6-9 */
    height: 55px;
}
#createSet{
width:200px;
background: #7d7e7d; /* Old browsers */
color: white;
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
font-size: 0.8em;
position: relative;
top:10px;
left:10px;
}
#logOff{
width:auto;
background: #7d7e7d; /* Old browsers */
color: white;
background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%); /* IE10+ */
background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 ); /* IE6-9 */
font-size: 0.8em;
position: relative;
top:10px;
right: 10px;
}
#middle{
bottom: 0; left: 0; top: 20px; right: 0;
    margin: auto;
     position: relative;
     width:95%;
     
}
#middletable{
    overflow: auto;
    height: 450px;
}
#middletable::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
	border-radius: 10px;
}

#middletable::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

#middletable::-webkit-scrollbar-thumb
{
	background-color: #3366FF;
	border-radius: 10px;
	background-image: -webkit-linear-gradient(0deg,rgba(255, 255, 255, 0.5) 25%,transparent 25%,transparent 50%,rgba(255, 255, 255, 0.5) 50%,rgba(255, 255, 255, 0.5) 75%,transparent 75%,transparent)
}


#tblSet{
     bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    font-size: 0.8em;
}
#tblSet th,tr{
    text-align: center;
}


.noWidth{ //adjust length for column No
    width: 10px;
}
.setName{
    width: 200px;
    border:0;
    background-color:transparent;
}
#rightbuttons{
    position:relative;
    left:720px;
    height: 30px;
}

/* For black screen */
#blackscreen{
    background: black;
    height: 100%;
    width:100%;
    position: absolute;
    top:0px;
    left: 0px;
    opacity: 0.8;
    cursor: pointer;
}
#newSetPanel{
     bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 400px;
    height:  220px;
    font-size:15pt;
    padding: 10px;
}
#shareSetPanel{
     bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 250px;
    height:  200px;
    font-size:1em;
    padding: 10px;
}
.bluebtn{
   background: #6db3f2; /* Old browsers */
background: -moz-linear-gradient(top,  #6db3f2 0%, #54a3ee 50%, #3690f0 51%, #1e69de 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#6db3f2), color-stop(50%,#54a3ee), color-stop(51%,#3690f0), color-stop(100%,#1e69de)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* IE10+ */
background: linear-gradient(to bottom,  #6db3f2 0%,#54a3ee 50%,#3690f0 51%,#1e69de 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6db3f2', endColorstr='#1e69de',GradientType=0 ); /* IE6-9 */ 
}
#accountPanel{
     bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 250px;
    height:  225px;
}
#loadExcelPanel{
    bottom: 0; left: 0; top: 0; right: 0;
    margin: auto;
    position: absolute;
    width: 300px;
    height:  200px;
}
